@model WebApplicationTest.Models.TestHello

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>TestHello</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hello)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
